@import '../variables'
@import 'mixins'
@import 'custom'

h1, h2, h3, h4, h5, h6, p, small,
blockquote, figure, table, td, th,
ul, ol, li, dd, dl, dt, details, hr,
fieldset, pre
  margin: 0 0 $baseline-height-rem

h1, .h1
  +font(6)

h2, .h2
  +font(5)

h3, .h3
  +font(4)

h4, .h4
  +font(3)

h5, .h5
  +font(2)

h6, .h6
  +font(1)

p
  +font(0)

small
  +font(-1)

hr
  height: 0
  border-top: 1px solid gray

+text-align('')
+text-transform('')
+text-decoration('')
+break-xs
  +text-align('-xs')
  +text-transform('-xs')
  +text-decoration('-xs')
+break-sm
  +text-align('-sm')
  +text-transform('-sm')
  +text-decoration('-sm')
+break-md
  +text-align('-md')
  +text-transform('-md')
  +text-decoration('-md')
+break-lg
  +text-align('-lg')
  +text-transform('-lg')
  +text-decoration('-lg')
